* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f0f2f5;
    color: #333;

}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url('https://images.unsplash.com/photo-1522778119026-d647f0596c20?auto=format&fit=crop&q=80');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 4rem 2rem;
    margin-bottom: 2rem;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.players-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem 0;
}

.player-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    padding: 30px;
}

.player-card:hover {
    transform: translateY(-5px);
    .player-image {
        transition: 500ms;
        transform: scale(1.05);
    }
}

.player-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.player-info {
    padding: 1.5rem;
}

.player-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.player-number {
    display: inline-block;
    background: #f0f2f5;
    padding: 0.25rem 0.75rem;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.player-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.stat {
    text-align: center;
    padding: 0.5rem;
    background: #f8f9fa;
    border-radius: 5px;
}

.stat-value {
    font-size: 1.25rem;
    font-weight: bold;
    color: #2563eb;
}

.stat-label {
    font-size: 0.875rem;
    color: #64748b;
}

footer {
    text-align: center;
    padding: 2rem;
    background: #1f2937;
    color: white;
    margin-top: 2rem;
}

.toggle-button {
    position: relative;
    display: inline-block;
    width: 120px; /* Aumenta el ancho del botón */
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-button::before {
    content: "";
    position: absolute;
   
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s, background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-button.active {
    background-color: #2563eb;
}

.toggle-button.active::before {
    transform: translateX(60px); /* Ajusta la distancia de desplazamiento */
    background-color: #2563eb; /* Cambia el color de fondo de la bolita cuando está activo */
}

.toggle-text {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}